.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.button {
    background-color: blue;
    color: white;
    width: 5vw;
    height: 5vh;
    border-radius:10px;
}
.buttonRemove {
    background-color: blue;
    color: white;
    width: 5vw;
    height: 5vh;
    border-radius:10px;
}

input{
    width: 60%;
    width:8vw;
    height: 5vh;
    border-radius:5px;
}
select {
    height: 5vh;
    width:8vw;
    border-radius:5px;
}